MMP.HackMCR.v12.suo
MMP.HackMCR.DataContract/obj/Debug/MMP.HackMCR.DataContract.pdb
MMP.HackMCR.v12.suo
*.dll
*.pdb
*.dll
*.pdb
MMP.HackMCR.DataContract/obj/Debug/MMP.HackMCR.DataContract.csproj.FileListAbsolute.txt
MMP.HackMCR.Website/obj/Debug/MMP.HackMCR.Website.csprojResolveAssemblyReference.cache