<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MMP.HackMCR.Website.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Windows" />
  </system.web>
  
  
  <applicationSettings>
    <MMP.HackMCR.Website.Properties.Settings>
      <setting name="MMP_HackMCR_Website_MMPWebService_MMPService"
        serializeAs="String">
        <value>http://hackmsrweb.cloudapp.net:81/MMPService.asmx</value>
      </setting>
    </MMP.HackMCR.Website.Properties.Settings>
  </applicationSettings>
</configuration>